/**************************************************** custom default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5dc;
}

/**************************************************** btns */
.btn-bg {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  margin-top: 15rem;
}

.btn-bg button {
  border: #dcdcdc solid 0.2rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-bg button:hover {
  border-width: 0.3rem;
  border-color: #ffdf00;
}

@media (min-width: 600px) {
  .btn-bg {
    margin-top: 11rem;
  }

  .btn-bg button {
    border-width: 0.3rem;
    margin: 2rem;
    font-size: 2rem;
  }

  .btn-bg button:hover {
    border-width: 0.4rem;
  }
}

@media (min-width: 900px) {
  .btn-bg {
    grid-template-columns: 21rem 21rem 13rem;
    margin-top: 19rem;
    justify-content: center;
  }

  .btn-bg button {
    font-size: 2.5rem;
  }
}
/**************************************************** toggle colours */

.light-colour {
  background-color: #f5f5dc;
}

.dark-colour {
  background-color: #232b2b;
}
